<div id="<%= dom_id product %>">
  <p>
    <strong>Code:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= product.url %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= product.creator %>
  </p>

  <p>
    <strong>Created t:</strong>
    <%= product.created_t %>
  </p>

  <p>
    <strong>Created datetime:</strong>
    <%= product.created_datetime %>
  </p>

  <p>
    <strong>Last modified t:</strong>
    <%= product.last_modified_t %>
  </p>

  <p>
    <strong>Last modified datetime:</strong>
    <%= product.last_modified_datetime %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Generic name:</strong>
    <%= product.generic_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

</div>
